  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    color: black;
  }

  body {
    background-color: #ccc;
  }

  label {
    display: block;
    margin-bottom: .5rem;
    margin-top: 1rem;
  }

  input {
    display: block;
  }

  .button-creator {
    display: grid;
    gap: 30px;
    padding: 30px;
    grid-template-columns: 200px 1fr;
  }

  #controles {
    font-size: .875rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
  }

  .btn {
    display: block;
  }

  .css {
    font-family: inherit;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .css span {
    display: block;
    margin-bottom: .5rem;
  }

  @media (max-width: 540px) {
    .button-creator {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 20px;
    }

    #controles {
      padding: 2rem;
      max-width: 265px;
      width: 100%;
    }

    #controles label:first-child {
      margin-top: 0;
    }

    .resultado {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }